[user]
	name = Oleksii Moisieiev
	email = amoiseev@larch-networks.com
[alias]
  st = status -uno
  pr = pull --rebase
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  ll = log --graph --pretty=format:'%Cred%h -%d %s (%cr) <%an>%Creset' --abbrev-commit --date=short --branches
[push]
	default = matching
[core]
	editor = vim
