[pager]
    branch = false
[user]
	name = Oleksii Moisieiev
	email = amoiseev@larch-networks.com
[alias]
  st = status -uno
  pr = pull --rebase
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  ll = log --graph --pretty=format:'%Cred%h -%d %s (%cr) <%an>%Creset' --abbrev-commit --date=short --branches
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  dog = log --all --decorate --oneline --graph
[push]
	default = matching
[core]
	editor = vi
